// ===FONT
$font-open: 'Raleway', sans-serif;

// ===FONT-SIZE
$fs15: 1.5rem;
$fs20: 2rem; 
$fs45: 4.5rem; 
$fs55: 5.5rem; 

// ===COLOR 
$bg-color: #ffffff;
$bg-footer: #061e37;
$light-blue: #80d8ff;
$blue: #82b1ff;
$purple: #b388ff;
$pink: #ea80fc;
$btn-green: #1de9b6;
$btn-dark-blue: #061e37;
$btn-white: #ffffff;
$text-black: #000000;
$text-white: #fff;

// ===SETTINGS

html {
    font-size: 10px;
}

body {
	margin: 0;
     font-family: $font-open;
     font-size: 1.5rem;
     color: $text-black;
     background-color: $bg-color;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {  
     color: $text-white;
     text-decoration: none;
}

p {
	margin: 0;
}

// ===CONTAINER

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

// ===BTN 

.btn {
     padding: 2rem 4rem;
     font-family: $font-open;
     font-size: $fs15;
     font-weight: 700;
     text-transform: uppercase;
     color: $btn-dark-blue;
     background-color: $btn-white;
     border: none;
     border-radius: .5rem;
     cursor: pointer;
     transition: background-color .2s linear, color .2s linear;

     &:hover {
          color: $btn-white;
          background-color: $btn-dark-blue;
     }

}

// ===HEADER

.header {
     background-image: url(../img/header/header-img.png);
     width: auto;
     height: 75rem;
     padding-top: 5rem;

     .nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__logo {
               display: flex;

               &--text {
                    margin-left: 1rem;
                    font-size: $fs15;
                    font-weight: 800;
                    text-transform: uppercase;
                    transition: color .5s linear;
                    &:hover {
                         color: $btn-dark-blue;
                    }
               }
          }

          &__link {
               display: flex;
               align-items: center;

               &--a {
                    margin-right: 5rem;
                    font-size: $fs15;
                    font-weight: 600;
                    transition: color .2s linear;
                    &:hover {
                         color: $btn-dark-blue;
                    }
                    &:last-child {
                         margin-right: 0;
                    }
               }
          }

          &__btn {
               padding: .5rem 2rem;
               font-size: $fs15;
               font-weight: 400;
               color: $btn-white;
               background-color: rgba(0, 50, 50, 0);
               border: 0.2rem solid $bg-color;
               cursor: pointer;
               transition: border-color .2s linear, color .2s linear;
              // transition: border-color .2s linear;

               &:hover {
                    color: $btn-dark-blue;
                    border-color: $btn-dark-blue;
               }
          }
     }

     .intro {
          margin-top: 17rem;
     }
}
