// ===FONT
$font-open: 'Raleway', sans-serif;

// ===FONT-SIZE
$fs15: 1.5rem;
$fs20: 2rem; 
$fs45: 4.5rem; 
$fs55: 5.5rem; 

// ===COLOR 
$bg-color: #ffffff;
$bg-footer: #061e37;
$light-blue: #80d8ff;
$blue: #82b1ff;
$purple: #b388ff;
$pink: #ea80fc;
$btn-green: #1de9b6;
$btn-dark-blue: #061e37;
$btn-white: #ffffff;
$text-black: #000000;
$text-white: #fff;
$text-grey: #b0bec5;
$text-darkblue: #061e37;

// ===SETTINGS

html {
    font-size: 10px;
}

body {
	margin: 0;
     font-family: $font-open;
     font-size: 1.5rem;
     color: $text-black;
     background-color: $bg-color;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {  
     color: $text-white;
     text-decoration: none;
}

p {
	margin: 0;
}

// ===CONTAINER

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

// ===BTN 

.btn {
     padding: 2rem 4rem;
     font-family: $font-open;
     font-size: $fs15;
     font-weight: 700;
     text-transform: uppercase;
     color: $btn-dark-blue;
     background-color: $btn-white;
     border: none;
     border-radius: .5rem;
     cursor: pointer;
     transition: background-color .2s linear, color .2s linear;

     &:hover {
          color: $btn-white;
          background-color: $btn-dark-blue;
     }

}

// ===HEADER

.header {
     background-image: url(../img/header/header-img.png);
     width: auto;
     height: 75rem;
     padding-top: 5rem;

     // ===NAV

     .nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__logo {
               display: flex;

               &--text {
                    margin-left: 1rem;
                    font-size: $fs15;
                    font-weight: 800;
                    text-transform: uppercase;
                    transition: color .5s linear;
                    &:hover {
                         color: $btn-dark-blue;
                    }
               }
          }

          &__link {
               display: flex;
               align-items: center;

               &--a {
                    margin-right: 5rem;
                    font-size: $fs15;
                    font-weight: 600;
                    transition: color .2s linear;
                    &:hover {
                         color: $btn-dark-blue;
                    }
                    &:last-child {
                         margin-right: 0;
                    }
               }
          }

          &__btn {
               padding: .5rem 2rem;
               font-size: $fs15;
               font-weight: 400;
               color: $btn-white;
               background-color: rgba(0, 50, 50, 0);
               border: 0.2rem solid $bg-color;
               cursor: pointer;
               transition: border-color .2s linear, color .2s linear;
              // transition: border-color .2s linear;

               &:hover {
                    color: $btn-dark-blue;
                    border-color: $btn-dark-blue;
               }
          }
     }

     // ===INTRO

     .intro {
          display: flex;
          justify-content: space-between;
          margin-top: 17rem;

          &__title {
               margin-bottom: 3rem;
               font-size: $fs55;
               font-weight: 800;
               line-height: 6.5rem;
               color: $text-white;
               text-transform: uppercase;
          }

          &__subtitle {
               margin-bottom: 4rem;
               font-size: $fs20;
               font-weight: 400;
               line-height: 3.5rem;
               color: $text-white;
          }

          &__btn {
               margin-right: 3rem;

               &:last-child {
                   margin-right: 0; 
               }
          }

          &__video {
               border: 3px solid $btn-white;
               border-radius: .5rem;
               transition: border-color .2s linear;

               &:hover {
                    border-color: $btn-dark-blue;
               }
          }

     }
}

// ===MAIN

.main {
     margin-top: 10rem;
     background-color: $bg-color;

     // ===EASY

     .easy {
          text-align: center;

          &__title {
               margin-bottom: 1.5rem;
               font-size: $fs45;
               font-weight: 600;
               text-align: center;
               color: $text-darkblue;
          }

          &__subtitle {
               margin-bottom: 10rem;
               font-size: $fs15;
               font-weight: 400;
               text-align: center;
               line-height: 2.5rem;
               color: $text-grey;

               &--project {
                    font-size: $fs20;
                    font-weight: 600;
               }
          }

          &__content {
               display: flex;
               justify-content: space-between;
               text-align: center;

               .easy__block {
                    
                    &--img {
                         margin-bottom: 2rem;
                    }

                    &--title {
                         margin-bottom: 2rem;
                         font-size: $fs20;
                         font-weight: 600;
                         color: $text-darkblue;
                    }

                    &--subtitle {
                         font-size: $fs15;
                         font-weight: 400;
                         line-height: 2rem;
                         color: $text-grey;
                    }
               }
          }

          &__btn {
               margin-top: 8rem;
               margin-bottom: 10rem;
               background-color: $btn-green;
               color: $text-white;
               border: .2rem solid $btn-green;

               &:hover {
                    background-color: $btn-white;
                    color: $text-darkblue;
                    border: .2rem solid $btn-dark-blue;
               }
          }

          &__bottom {
               display: flex;
               justify-content: center;

               .easy__color {
                    height: 15rem;
                    display: flex;
                    width: 33%;
                    justify-content: center;
                    font-size: $fs20;
                    font-weight: 800;
                    color: $text-white;

                    &--img {
                         padding: 4rem 0;
                    }

                    &--text {
                         text-align: left;
                         padding: 5rem 1rem;
                    }
               }

               .easy__color1 {
                    background-color: $light-blue;
               }

               .easy__color2 {
                    background-color: $blue;
               }

               .easy__color3 {
                    background-color: $purple;
               }

               .easy__color4 {
                    background-color: $pink;
               }
          }

     }

     // === SERVICES

     

}



